.container-flex{
	display:flex;
	justify-content:space-between;
	width:800px;
	border:2px solid Blue;
	text-align:center;
	margin:20px auto;
}
.container-grid{
	display:grid;
	grid-template-columns:repeat(3,2fr);
	gap:20px;
	width:800px;
	border:2px solid Blue;
	text-align:center;
	margin:20px auto;
}
.pozadina{
background-image:url("Slike/pozadina/pozadina2.jpg");
background-size:cover;
background-position:center;
}
.naslov{
	text-align:center;
	color:yellow;
}
.naslov2{
	text-align:center;
	color:yellow;
}